<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">

    <style type="text/css">
        #public {
        clear: both;
        height: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        text-indent: 0px;
        line-height: 1;
        font-weight: bold;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid;
        color: #b0120a;
        background: #ffffff;
        margin-bottom: 16px;
        }

        #header {
        border: 0;
        text-align:center;
        }

        #image {
        width: 100%;
        border: 0;
        }

        #title {
        font-size: 15px;
        line-height: 1.15;
        font-weight: normal;
        }

        #video {
        width: 100%;
        height: 360px;
        display: block;
        border: 0;
        padding: 0;
        margin: 0 auto;
        }

        p {
        font-size: 14px;
        text-indent: 20px;
        }
    </style>
</head>